@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  line-height: 180%;
  color: #666;
  text-align: center;
}
.jadwalku {
  background: url(/static/icon/jadwal.png);
}
.detail {
  background: url(/static/icon/paper.png);
}
.tambahjadwal {
  background: url(/static/icon/tambahjadwal.png);
}
.parallax1 {
  background: url(/static/icon/me01.png);
  min-height: 100%;
}
.parallax2 {
  background: url(/static/icon/me2.png);
  min-height: 60%;
}
.parallax3 {
  background: url(/static/icon/discuss.jpg);
  min-height: 60%;
}
.parallax4 {
  background: url(/static/icon/me4.png);
  min-height: 60%;
}
.project{
	background: url(/static/icon/project.png);
}
.gallery{
	background: url(/static/icon/cbg.jpg);
	  align-content: center;
  align-self: center;
  align-items: center;
	opacity: 60%;
}
.parallax5{
	background: url(/static/icon/writing.png);
	min-height: 100%;
}
.parallax1, .parallax2, .parallax3, .parallax4, .project, .parallax5, .gallery, .jadwalku, .tambahjadwal, .detail{
  position: relative;
  opacity: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.heading {
  position: absolute;
  color: #fff;
  font-size: 550%;
  top: 38%;
  width: 100%;
  letter-spacing: 8px;
  text-shadow: 0 0 10px #000;
}
.heading-sm {
  position: absolute;
  top: 45%;
  width: 100%;
  color: #fff;
  font-size: 250%;
  letter-spacing: 5px;
  text-shadow: 0 0 10px #000;
}
.two-col {
  align-content: center;
  align-self: center;
  align-items: center;
  float: left;
  width: 50%;
  padding: 0% 5%;
  text-align: left;
}
section {
  overflow: auto;
  padding: 50px 80px;
}
.dark {
  overflow: auto;
  padding: 50px 80px;
  background-color: #323232;
  color: #f2f2f2;
}
.light{
  overflow: auto;
  padding: 50px 80px;
  background-color: white;
  color: #323232;
}
.icon {
	width: 50%;
	border-radius: 25%;
	display: block;
}
.image1{
	align-self: center;
}
.image1:hover{
	color: black;
	opacity: 70%;
	background-color: black;
	border-radius: 25%;
}
.stotitle:hover{
	color: black;
}
.icon:hover{
	color: black;
	opacity: 70%;
	background-color: black;
	border-radius: 25%;
}
.d-block{
	position: relative;
  opacity: 100%;
  background-position: center;
  background-size: cover;
  min-height: 50%;
}
@media (max-width: 768px) {
  .heading {
    font-size: 250%;
  }
  .heading-sm {
    font-size: 180%;
  }
  .two-col {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .stotitle{
  	text-align: center;
  	color: white;
  }
}
@media (max-width: 1050px) {

  .heading {
    font-size: 300%;
  }

}