{% extends 'base.html' %}
{% block title %} blog {% endblock %}
{% block content %}
<br><br>
<div class="container" style="color: white">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <img src="/static/icon/image.png" style="border-radius: 40%"><br>
            <h1>nama barang</h1>
            <h1>harga barang</h1>
        </div>
        <div class="col-lg-6">
        	<h3>Nama: {{form.nama}}</h3>
            <h3>Kupon: {{form.kupon}}</h3>
            <button type="submit" class="btn btn-success">cekharga</button>
            <h3>total harga:</h3>
            <button type="submit" class="btn btn-success">beli</button>
        </div>
    </div>
    <br>
</div>
<br><br><br>
{% endblock %}
<!--cekharga masukkan form.kupon kupon dari winalton sama primary key barang-->

        	<!--<form  action="{% url 'cekharga' %}" method="post" style="align-content: left; text-align: left; align-self: left; color: white">
    		{% csrf_token %}-->