{% extends 'base.html' %}
{% block title %} blog {% endblock %}
{% block content %}
    


    
    <div class="parallax5">
    	<div class="heading">
    		Welcome to my blog.
    	</div>
    </div>
	<section class="light">
		blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>blog content<br>
	</section>	 
	
	<br><br>
  {% endblock %}