{% extends 'base.html' %}
{% block title %} detail {% endblock %}
{% block content %}
<body class="detail">
    <br><br>


<div class="container" style="color: white">
    <div class="row">
        <div class="col-lg-12">
            <h1>{{mapel.nama}}</h1><br>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h3>Nama dosen: {{mapel.dosen}}</h3>
        </div>
        <div class="col-lg-4">
            <h3>Jumlah sks: {{mapel.sks}}</h3>
        </div>
        <div class="col-lg-4">
            <h3>Nomor ruang: {{mapel.ruang}}</h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <h4 style="  background-color: #323232; opacity: 80%;">deskrispi mata kuliah:<br><br>
            {{mapel.desc}}</h4>
        </div>
    </div>
</div>
<br><br>



<form method="post" action="{% url 'delete' mapel.id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger" style="opacity: 80%">delete</button>
</form>

	
	<br><br>
  {% endblock %}