{% extends 'base.html' %}
{% block title %} profile {% endblock %}

{% block content %}
    
    	<div class="parallax1">
		    <div class="heading">
		    	<br>TextTextTextText<br><br><br>TextText<br><br><br>
		      Kristianto D.
		    </div>
		 </div>
		 <section class="dark">
		    <h2>prakata</h2>
		    <p>Halo, nama saya Kristianto Desun.<br>
		    	Saya merupakan mahasiswa fakultas ilmu komputer di Universitas Indonesia.<br>Perancangan web merupakan sesuatu yang belum pernah saya sentuh sebelumnya,<br>namun saya berharap agar dapat mengenal lebih dalam lagi tentang web.


		    </p>
		  </section>

		 

		  <div class="parallax2">
		    <div class="heading-sm">
		      About me.
		    </div>
		  </div>
			 <section class="dark">
		    <p>ougbnzfiugz pobizfnpg osxzbhpzfdoivn.<br> zpoivhknz pboikjfdz xpbonlvmhnns ihgbsfihhkg hsoidufgxh vb.<br> xdgkjodzfiugh esdfhbgfhc poudhfg y dfi.<br>ubh sogh yzfgxbild giusd fxxiguvbdfh.<br>kxcvb ofhkxgbhijdgkhmnsighmvidt ughmvofijg ,boayidhfj uyehfd vkiymljr.<br>fgboium gxyhgselgmchu dfghbry sfxhglnlhkt gno jsfgcb.
		    </p>
		  </section>
		  
		  <div class="parallax3">
		  	<div class="heading-sm">Profile.</div>
		  </div>

		  <section class="dark">
		    
		    <div class="two-col">
		      <h3>
		      	-ajdgal agauy avbjrkfb  bhdiuh dfvnkgjb.<br>
		      	-hgbkz hfdv yfbgi zdfiuybg.<br>
		      	-oghbkjnjx ushn vinsgi foiy gnid. <br>
		      	-fzkfhniu bfg bi gyg hkvg nibm ij. <br>
		      	-yg oiub y gn tyvgnk jb n mt.<br>
		      	-khvhkz zkvjng vfnxc db kvn. <br>
		      </h3>
		    </div>
		    <div class="two-col">
		      <h3>
		      	-ajdgal agauy avbjrkfb  bhdiuh dfvnkgjb.<br>
		      	-hgbkz hfdv yfbgi zdfiuybg.<br>
		      	-oghbkjnjx ushn vinsgi foiy gnid. <br>
		      	-fzkfhniu bfg bi gyg hkvg nibm ij. <br>
		      	-yg oiub y gn tyvgnk jb n mt.<br>
		      	-khvhkz zkvjng vfnxc db kvn. <br>
		      	
		      </h3>
		    </div>
		 </section>
		   <div class="parallax4" style="background-position: top;">
  			</div>

  {% endblock %}