{% extends 'base.html' %}
{% block title %} kegiatan {% endblock %}
{% block content %}
<body class="kegiatan">
<br><br>
    <h1 style="text-align: center; color: white">Kegiatan</h1>

    <div class="containter">
        <div class="row">
        {% for i in datakegiatan %}
        <div class="col-lg-4 col-md-6 col-sm-12">
            <table class="table table-striped table-dark" style=" float: center;" >
            <thead class="thead-dark">
                <tr>
                    <th scope="col">{{i.nama}}</th>
                </tr>


                
            </thead>
            
               <tbody>
             
              {% for j in datapeserta %}
                    {% if j.kegiatan_id == i.id %}
                    <tr>
                           <th> {{ j.nama }}</th>
                    </tr>       
                    {% endif %}
                {% endfor %}
               </tbody> 
                

                
                
           
        
         <form  action="{% url 'tambahpeserta' pk=i.id %}" method="post" style="align-content: left; text-align: left; align-self: left;">
                {% csrf_token %}

            <tr><th>{{formpeserta.nama}}</th></tr>
                   
        <tr><th><button type="submit" class="btn btn-success" >tambahpeserta</button></form></th></tr>

        </table>
        </div>
        {% endfor %}
    </div>
        <div class="col-lg-12" style="align-content: left; text-align: left; align-self: left;">
            <form  action="{% url 'tambahkegiatan' %}" method="post" style="align-content: left; text-align: left; align-self: left;">
                {% csrf_token %}

                    <div class="form-group">
                     {{formkegiatan.nama}}
                    </div>
                <button type="submit" class="btn btn-success">tambahkegiatan</button>
                </form>
            
        </div>

    </div>

	<br><br><br>
  {% endblock %}        
