<!DOCTYPE html>
<html>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
	body {
	  background-image: url("https://i.postimg.cc/gJNR8Ck2/background-beverage-breakfast-brown-414645.jpg");
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: cover;
	}

	p { 
	  font-size:130%;
	 }

	.foto {

	  display: block;
	  margin-left:2%;
	  width: 500px;
	  height:300px;
	  margin-top: 3%;
	}
	.atas{
	  display: flex;
    flex-direction: row;

	}

	.logo{
		display: flex;
		flex-direction: row;
    align-items: center;
    align-content: center;
    align-self: center;
    margin-right: auto;
    margin-left: auto;

	}

	.data {
		align-items: center;
		display: flex;
		flex-direction: column;
	  background-color: rgba(255,255,255,0.90);
	  color: black;
	  width: 40%;
	  border: 5pt solid white;
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	  padding-right: 20pt;
	  padding-bottom: 20pt;
	  padding-top: 5pt;
	  padding-left: 40pt;
	  margin-right: 2%;
	  margin-left: auto;
	  margin-top: 3%;
	  border-radius: 10%;
	}
	.bawah{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		align-items: center;
		text-align: center;
		align-self: center;
		margin-top: 2%;
		margin-left: auto;
		margin-right: auto;
		border-radius: 10%;
		color:black;
		width: 80%;
	    border: 5pt solid white;
   	    background-color: rgba(255,255,255,0.90);

	}
</style>
<head>
	{% load static %}
    
    <link rel="stylesheet"   href="{% static 'css/bootstrap.min.css' %}" >
    <link rel="stylesheet"   href="{% static 'css/mycss.css' %}" >
	<title>Profile Kristianto.D</title>
</head>
<body>
	{% block foo %}
{% include "_navbar.html" %}
{% endblock %}
	<div class="temp">
		<div class="atas">
				<img class="foto" src="https://i.postimg.cc/4x0wDhz1/IMG-20200201-222520.jpg" alt="gambar saya" style="border:2px solid #ddd; border-radius: 50%" class="center">
			<div class="data">
				<h2 style="text-align: center">Tentang saya:</h2>
				<p>
					Nama: Kristianto Desun<br>
					NPM: 1906350585<br>
					Kuliah: Fakultas Ilmu Komputer Universitas Indonesia<br>
					Angkatan: 2019<br>
					SMA: SMA Xaverius 1 Jambi<br>
				</p>
				<div class="logo">
					<a href="https://web.facebook.com/kristianto.desun">
						<img src="https://swissmacuser.ch/wp-content/uploads/2015/09/Facebook-Logo-rounded.png" alt="fb logo" align="right" width="10%" >
					</a>
					<a href="https://www.instagram.com/kristiantodesun">
						<img src="https://www.freepnglogos.com/uploads/instagram-icon-png/instagram-icon-suzem-limited-make-known-20.png" alt="instagram-icon-png"  align="center" width="12%" >
					</a>
				</div>
			</div>
		</div>
		<div class="bawah">
			<p>
				Merupakan anak bungsu dari 2 bersaudara. Tertarik dengan ilmu komputer karena banyak hal-hal baru dan menarik yang dapat dipelajari. Walaupun bukan terbilang hobi, saya suka sekali makan dan tidur.
			</p>
		</div>
	</div>
	 <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>

