{% extends 'base.html' %}
{% block title %} jadwal {% endblock %}
{% block content %}
<body class="tambahjadwal">
<br><br>
<h2 style="color: white">tambah jadwal</h2>   
<div class="container">
    <div class="row">
        <div class="col-lg-12">
<form  action="{% url 'tambah' %}" method="post" style="align-content: left; text-align: left; align-self: left; color: white">
    {% csrf_token %}
    <div class="form-group">
    <label>Nama mata kuliah:</label>
    <div style="opacity: 80%">
    {{form.nama}}
    </div>
    </div>

    <div class="form-group">
    <label>Nama dosen:</label>
    <div style="opacity: 80%">
    {{form.dosen}}
    </div>
    </div>

    <div class="form-group">
    <label>Jumlah sks:</label>
    <div style="opacity: 80%">
    {{form.sks}}
    </div>
    </div>

    <div class="form-group">
    <label>Nomor ruang:</label>
    <div style="opacity: 80%">
    {{form.ruang}}
    </div>
    </div>

    <div class="form-group">
    <label>Deskripsi:</label>
    <div style="opacity: 80%">
    {{form.desc}}
    </div>
    </div>
<button type="submit" class="btn btn-success">tambah</button>
</form>  
</div></div></div>
<br><br><br><br>
  {% endblock %}